<?xml version="1.0" encoding="UTF-8"?>

<included>
    <include resource="logback/base.xml"/>
    <appender name="server-json" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="com.icourt.core.log.JsonPatternLayout">
            <pattern>%json %n</pattern>
        </layout>
        <Append>true</Append>
        <File>${LOG_PATH}/ssf-json.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/ssf-json.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<maxHistory>15</maxHistory>-->
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="server-json" />
    </root>

</included>